XfceHeading {
    background-color: @theme_base_color;
    background-image: none;
    padding: 0;
    border-width: 0;
}

.xfce4-panel .menu {
    -gtk-image-effect: none;
}

.xfce4-panel .button {
    background-image: none;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}


.xfce4-panel .button:active,
.xfce4-panel .button:checked {
    border-color: shade(@theme_bg_color, 0.8);
    background-image: linear-gradient(to bottom,
                                      shade(shade(@theme_bg_color, 1.02), 0.9),
                                      shade(shade(@theme_bg_color, 1.02), 0.95)
                                      );
    transition: none;
}
.xfce4-panel .button:hover,
.xfce4-panel .button:active:hover,
.xfce4-panel .button:checked:hover {
    border-color: shade(@theme_bg_color, 0.7);
    background-image: linear-gradient(to bottom,
                                      shade(shade(@theme_bg_color, 1.02), 1.1),
                                      shade(shade(@theme_bg_color, 1.02), 0.9)
                                      );
    transition: none;
}

